
.myTest1  { color: blue}

.myTest2  { color: green}

.myTest3  { color: red}

.myTest4  { color: yellow}

.even { background-color:  cyan;}
.odd { background-color: brown; color:  white;}


input.ng-touched.ng-invalid {border-bottom: 2px solid red;}